{% extends "public/templates/public_template.html" %}{% block title %}About{% endblock %}{% block main %}
<style>
    p {
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: content-box;
        font-family: cursive;
        color: bisque;
        border: 2px powderblue;
    }
    
    h1 {
        text-align: left;
        margin-top: 20px;
        font-family: cursive;
    }
</style>
<h1>Hello folks!</h1>
<hr>
<p>
    Spam, unsolicited commercial electronic messages. Although e-mail is the most common means of transmitting spam, blogs, social networking sites, newsgroups, and cellular telephones are also targeted. The commercial potential of spam grew along with the
    popularity of the Internet.
    <br> Viewed with widespread disdain, spam nonetheless remains a popular marketing tool because the distribution cost is virtually free and accountability levels for spamming are typically very low. Spammers (those who send spam) went underground and
    began to hide their identity and location, and the content of spam became more nefarious, often advertising pornography or promoting various scams. In addition to offensive content, spam may contain viruses and malicious software (malware) that can
    invade a recipient’s computer, allowing spammers to gain remote access to the computer. So, clasifying a message as a spam or normal is the most used tool by very big enterprises.
    <br> For example, Twitter a microblogging site uses many detection and defence methods in order to protect Twitter users from spamming activities. Particularly in the last three years, many innovative methods have been developed, which have greatly
    improved the detection accuracy and efficiency compared to those which were proposed three years ago. One in every 200 social media messages and one in every 21 tweets is estimated to be spam The core of this system is <strong>Machine-Learning </strong>to
    build their spam detection system. Twitter uses huge ammount of data to train their models and they are ranging from one domain to other as Spam detection is highly domain specific.
    <hr> I have also created a spam detector webapp using Machine learning,Natural Language Processing and Python.
    <br>

</p>
{%endblock%}}